{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Portfolio</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'home/css/index.css' %}">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'home/scripts/effects.js' %}"></script>


</head>

<body>

  <header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="###" aria-label="Product">
        <img src="{% static 'home/images/user.png' %}" style="width: 24px; height: 24px;" alt="X">
      </a>
      <a class="py-2 d-none d-md-inline-block" href="#">About</a>
      <a class="py-2 d-none d-md-inline-block" href="#about-me">Education</a>
      <a class="py-2 d-none d-md-inline-block" href="#my-skills">Skills</a>
      <a class="py-2 d-none d-md-inline-block" href="#projects">Projects</a>

    </nav>
  </header>



  <main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <img src="{% static 'home/images/me.jpg' %}" alt="">
        <h1 class="display-4 fw-normal">Nikho Remulla</h1>
        <p class="lead fw-normal">Here you can learn about myself as a student and a developer.</p>
        <a class="btn btn-outline-secondary" href="#about-me">Learn More</a>
      </div>
    </div>

    <section id="about-me">
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">

            <span class="fs-4">About Me</span>
          </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Education</h1>
            <img src="{% static 'home/images/ceu-logo.png' %}" style="width: 200px; height: 200px; margin-bottom: 10px;" alt="">
            <p class="col-md-8 fs-4">I am a third year college student of Centro Escolar Makati. Who is passionate in
              application development and automation.</p>

          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Interest</h2>
              <img src="{% static 'home/images/book-41623.png' %}" style="width: 200px; height: 200px;" alt="Book">
              <p>I am deeply into reading, and programming. My hobbies include calisthenics and more reading.</p>

            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 text-dark bg-light rounded-3">
              <h2>Future Goals</h2>
              <img src="{% static 'home/images/python-logo.png' %}" style="width: 200px; height: 200px; margin-bottom: 10px;"
                alt="Python">
              <p>I am planning to read into machine learning and specialize in Python.</p>
            </div>
          </div>
        </div>


      </div>

    </section>

    <section id="#my-skills">
      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">My Skills</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#bootstrap" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0">Java</h4>
              <p>Made various Android mobile app.</p>
            </div>
          </div>

          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#cpu-fill" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0">Python</h4>
              <p>Excels at Python 3.11 and more specifically on Automation.</p>
            </div>
          </div>


          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#calendar3" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0">Django</h4>
              <p>Made various MVC Web Apps with Django.</p>
            </div>
          </div>


          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#home" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0">NodeJS</h4>
              <p>Specializes in web app development that is I/O intensive.</p>
            </div>
          </div>

          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#speedometer2" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0">HTML5</h4>
              <p>Made different web designs in a wide array of projects.</p>
            </div>
          </div>

          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#toggles2" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0">CSS</h4>
              <p>Exceeds at CSS3 and is up to date in modern web designs.</p>
            </div>
          </div>


          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0">Bootstrap5</h4>
              <p>Knows the ins and outs of responsive design.</p>
            </div>
          </div>
        </div>

    </section>

    <section id="projects">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Projects</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

          <div class="feature col">
            <div class="feature-icon bg-dark bg-gradient">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection" />
              </svg>
            </div>

            <h2>Keylogging Script</h2>
            <p>A script that is activated when a PC boots up and logs all of the user's typed key and stores the
              information. Only to be sent to an email.</p>
            <a href="#" class="icon-link">
              Learn More
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>


          <div class="feature col">
            <div class="feature-icon bg-dark bg-gradient">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#people-circle" />
              </svg>
            </div>

            <h2>Car Rental Web App</h2>
            <p>A Car Rental Web App that was made using Django and its default ORM. Users need to validate their driver
              license before renting.</p>
            <a href="#" class="icon-link">
              Learn More
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>


          <div class="feature col">
            <div class="feature-icon bg-dark bg-gradient">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#toggles2" />
              </svg>
            </div>
            <h2>Meet Auto-Join</h2>
            <p>A script that is manually open and ask the user for the link of the Google Meeting so that they can join
              on the specified time and date.</p>
            <a href="#" class="icon-link">
              Learn More
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>

        </div>

      </div> <!-- End of Projects-->
    </section>



    <!-- FORM -->

    <div class="container">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <!-- onkeyup = "email_validate(this)" required /" -->
        <input type="email" class="form-control" id="email-text">
        <div class="status" id="status"></div>
      </div>



      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
        <textarea class="form-control" id="txt" rows="3"></textarea>
      </div>


      <div class="mb-3">
        <button class="btn btn-dark" type="submit">Submit</button>
      </div>

    </div>

    <!-- END FORM -->

  </main>



  <footer class="container py-5 ">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2022</small>
      </div>


      <div class="col-6 col-md">
        <img src="assets/images/user.png" alt="X">
        <h5>Accounts</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://www.linkedin.com/in/nikhorem/" target="_blank">LinkedIn</a></li>
          <li><a class="link-secondary" href="#">Stack OverFlow</a></li>
          <li><a class="link-secondary" href="https://github.com/neekho" target="_blank">Github</a></li>
          <li><a class="link-secondary" href="#">LeetCode</a></li>

        </ul>
      </div>

      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Contact</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Background</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="validate.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

</body>

</html>