{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nikho Remulla</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  <link rel="shortcut icon" href="{% static 'home/images/fav.ico' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'home/css/index.css' %}">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="{% static 'home/scripts/effects.js' %}"></script>


</head>

<body>

  <header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="https://github.com/neekho" target="_blank" aria-label="Product">
        <img src="https://icongr.am/devicon/github-original.svg?size=28&color=f3f1f1" style="width: 24px; height: 24px;" alt="X">
      </a>
      <a class="py-2 d-none d-md-inline-block" href="#about-me">Education</a>
      <a class="py-2 d-none d-md-inline-block" href="#career">Career</a>

      <a class="py-2 d-none d-md-inline-block" href="#my-skills">Skills</a>
      <a class="py-2 d-none d-md-inline-block" href="#projects">Projects</a>
      <a class="py-2 d-none d-md-inline-block" href="#contact">Contact</a>

    </nav>
  </header>



  <main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <img src="{% static 'home/images/me.jpg' %}" alt="">
        <h1 class="display-4 fw-normal">Nikho Remulla</h1>
        <p class="lead fw-normal">Here you can learn about myself as a student and a developer.</p>
        <a class="btn btn-outline-secondary" href="#about-me">Learn More</a>
      </div>
    </div>

    <section id="about-me">
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none">

            <span class="fs-4">About Me</span>
          </a>
        </header>

        <div class="p-5 mb-4 bg-light text-white bg-dark rounded-3 ">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Education</h1>
            <img src="{% static 'home/images/ceu-logo.png' %}" style="width: 200px; height: 200px; margin-bottom: 10px;" alt="">
            <p class="col-md-8 fs-4">I am a third year college student of Centro Escolar Makati. Who is passionate in
              application development and automation.</p>

          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Interest</h2>
              <img src="{% static 'home/images/book-41623.png' %}" style="width: 200px; height: 200px;" alt="Book">
              <p>I am deeply into reading, and programming. My hobbies include calisthenics and more reading.</p>

            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Future Goals</h2>
              <img src="{% static 'home/images/python-logo.png' %}" style="width: 200px; height: 200px; margin-bottom: 10px;"
                alt="Python">
              <p>I am planning to read into machine learning and specialize in Python.</p>
            </div>
          </div>
        </div>
      </div>
    </section>





    <section id="career">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Career Timeline</h2>
    
        <div class="container">
          <ul class="timeline-3">
            <li class="mb-4"> <!-- Added margin-bottom class -->
              <div class="time-line-content">

                <a href="#">CEU - College Lecturer</a>
                <p href="#!" class="float-end">Sep 2023 - Present</p>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
              </div>
            </li>

            
            <li class="mb-4"> <!-- Added margin-bottom class -->
              <a href="#!">Sysmex - Web Developer</a>
              <p href="#!" class="float-end">Mar 2023 - Jun 2023</p>
              <p class="mt-2">Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
            </li>
            <li class="mb-4"> <!-- Added margin-bottom class -->
              <a href="#!">CGI - Data Analyst</a>
              <p href="#!" class="float-end">Nov 2021 - Aug 2022</p>
              <p class="mt-2">Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
            </li>
          </ul>
        </div>
    
      </div>
    </section>
    





    <section id="my-skills">
      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">My Skills and Tools</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div hover-container class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#bootstrap" />
            </svg>
            <div>

              <div class="small-logo">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
              </div>
              <h4 class="fw-bold mb-2">Java</h4>
              <p>Made various Android mobile app.</p>
            </div>
          </div>

          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#cpu-fill" />
            </svg>
            <div>
              
              <div class="small-logo">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
              </div>
              <h4 class="fw-bold mb-2">Python</h4>
              <p>Excels at Python 3.11 and more specifically on Automation.</p>
            </div>
          </div>


          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#calendar3" />
            </svg>
            <div>
              <div class="small-logo">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" />
              </div>
              <h4 class="fw-bold mb-2">Django</h4>
              <p>Made various MVC Web Apps with Django.</p>
            </div>
          </div>


          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#home" />
            </svg>
            <div>
              <div class="small-logo">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
              </div>
              <h4 class="fw-bold mb-2">NodeJS</h4>
              <p>Specializes in web app development that is I/O intensive.</p>
            </div>
          </div>

          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#speedometer2" />
            </svg>
            <div>

              <div class="small-logo">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
              </div>

              <h4 class="fw-bold mb-2">HTML5</h4>
              <p>Made different web designs in a wide array of projects.</p>
            </div>
          </div>

          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#toggles2" />
            </svg>
            <div>
    
              <div class="small-logo">
               <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
              </div>
              <h4 class="fw-bold mb-2">CSS</h4>
              <p>Exceeds at CSS3 and is up to date in modern web designs.</p>
            </div>
          </div>


          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              
              <div class="small-logo">      
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" />
              </div>

              <h4 class="fw-bold mb-2">Bootstrap5</h4>
              <p>Knows the ins and outs of responsive design.</p>
            </div>
          </div>


          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              
              <div class="small-logo">      
              
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
              
              </div>

              <h4 class="fw-bold mb-2">Javascript</h4>
              <p>Interactive web apps with vanilla JS.</p>
            </div>
          </div>

          <!-- DB -->

          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              
              <div class="small-logo">      
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
              </div>

              <h4 class="fw-bold mb-2">MySQL</h4>
              <p>Made problem solving ERDs with MySQL.</p>
            </div>
          </div>



          
          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              <div class="small-logo">              
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
              </div>

              <h4 class="fw-bold mb-2">PostgreSQL</h4>
              <p>Used PostgreSQL for efficient database management.</p>
            </div>
          </div>
          

          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              <div class="small-logo">                     
               <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
              </div>

              <h4 class="fw-bold mb-2">Git</h4>
              <p>Version controlling of projects with Github.</p>
            </div>
          </div>

          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              <div class="small-logo">      
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original.svg" />

              </div>

              <h4 class="fw-bold mb-2">Unity</h4>
              <p>Platformer games with C# and Unity game engine.</p>
            </div>
          </div>


          <div class="hover-container col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill" />
            </svg>
            <div>
              <div class="small-logo">                       
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" />

              </div>

              <h4 class="fw-bold mb-2">Spring Boot</h4>
              <p>RESTful architecture with Java Spring Boot.</p>
            </div>
          </div>


          </div>
        </div>

    </section>




    <section id="projects">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Projects</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://i.ibb.co/9skfsqx/Capture.png" alt="Capture'" alt="Caputre-1');">
              <div class="card-category">Game Dev</div>
              <div class="card-description">
                <h2>Unity Engine </h2>
                <p>2D Game</p>
              </div>
              <img class="card-user avatar avatar-large" src="https://icongr.am/devicon/github-original.svg?size=28&color=141414">
              <a class="card-link" href="https://github.com/neekho/2DUnity" target="_blank" ></a>
            </div>
          </div>
    
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.ibb.co/yfzgJ0D/image-2024-02-08-233357390.png');">
              <div class="card-category">Web Automation</div>
              <div class="card-description">
                <h2>Selenium</h2>
                <p>Automate joining of meetings</p>
              </div>
              <img class="card-user avatar avatar-large" src="https://icongr.am/devicon/github-original.svg?size=28&color=141414">
              <a class="card-link" href="https://github.com/neekho/automate-gmeet" target="_blank" ></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.ibb.co/cYZhx7y/image-2024-02-08-232646409.png');">
              <div class="card-category">E-Commerce Site</div>
              <div class="card-description">
                <h2>HTML & CSS</h2>
                <p>Bootstrap 4 CSS framework</p>
              </div>
              <img class="card-user avatar avatar-large" src="https://icongr.am/devicon/github-original.svg?size=28&color=141414">
              <a class="card-link" href="https://neekho.github.io/E-Commerce-Site/" target="_blank" ></a>
            </div>
          </div>
    
        </div>
      </div>
    </section>
    










    <!-- FORM -->

    <section id="contact">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 ">Contact Me</h2>

          <div class="container">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <!-- onkeyup = "email_validate(this)" required /" -->
              <input type="email" class="form-control" id="email-text">
              <div class="status" id="status"></div>
            </div>


            <!-- <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="name-text">
              <div class="status" id="status"></div>
            </div> -->


            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
              <textarea class="form-control" id="txt" rows="3"></textarea>
            </div>


            <div class="mb-3">
              <button class="btn btn-dark" type="submit">Submit</button>
            </div>

          </div>

      </div>
     </section>
    <!-- END FORM -->

  </main>


  <!-- FOOTER -->

  <footer class="footer-bg text-center text-lg-start mt-xl-5 pt-4">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">Accounts</h5>

        <ul class="list-unstyled mb-4">
          <li>
            <a href="https://www.linkedin.com/in/nikhorem/" target="_blank" class="text-white">LinkedIn</a>
          </li>
          <li>
            <a href="#!" class="text-white">Stack Overflow</a>
          </li>
          <li>
            <a href="https://github.com/neekho" target="_blank" class="text-white">Github</a>
          </li>
          <li>
            <a href="https://www.hackerrank.com/profile/nikho_remulla" target="_blank" class="text-white">HackerRank</a>
          </li>
          <li>
            <a href="#!" class="text-white">LeetCode</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">Assistance</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Contact</a>
          </li>
          <li>
            <a href="#!" class="text-white">Location</a>
          </li>
          <li>
            <a href="#!" class="text-white">Background</a>
          </li>
  
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">Careers</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Jobs</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <!-- <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">Sign up to our newsletter</h5>

        <div class="form-outline form-white mb-4">
          <input type="email" id="form5Example2" class="form-control" />
          <label class="form-label text-white" for="form5Example2">Email address</label>
        </div>

        <button type="submit" class="text-white btn btn-outline-white btn-block">Subscribe</button>
      </div> -->
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>


</body>

</html>